$breakpoint--small: 400px;
$padding--left: 18px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
  font-size: 20px;
  display: flex;
  flex-flow: column nowrap;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: 200;
  border-bottom: 1px solid lightgrey;
  color: blue;
  text-transform: uppercase;
  margin: 0;
  a {
    display: block;
    padding: 1.4em $padding--left*2;
  }
  @media all and (max-width: $breakpoint--small) {
    text-align: center;
    width: 100%;
  }
}

h2.tag {
  margin: $padding--left $padding--left*2;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  color: red;
  @media all and (max-width: $breakpoint--small) {
    text-align: center;
    width: 90%;
    margin: 1em auto;
  }
}

article h2 {
  margin: 2em 0 1em;
  &>a {
    border-radius: 4px;
    line-height: 1.4;
    &:active {
      background-cololr: #c3c3c3;
    }
  }
}

main {
  overflow-x: hidden;
}

// Article layout
//
article {
  padding: 0 2em;
  border-bottom: 1px solid lightgrey;
  @media all and (max-width: $breakpoint--small) {
    padding: 0 $padding--left;
  }
}

p {
  max-width: 90%;
  overflow: hidden;
  @media all and (min-width: 740px) {
    width: 740px;
  }
}

img {
  display: block;
  max-width: 16em;
  margin: 1em 0;
}

// Typography 
// 
a {
  text-decoration: none;
}

blockquote {
  font-size: smaller;
  border-left: 1px solid lightgrey;
  padding-left: $padding--left;
  margin: 1em 0;
  max-width: 800px;
}

code {
  background-color: #f3f3f3;
  font-size: 0.8em;
  color: #888888;
}

pre {
  color: #888;
  background-color: #f3f3f3;
  font-size: 0.8em;
  overflow: auto;
  padding: 1em $padding--left;
}

ol {
  list-style-position: inside;
}

// For lists with no dot
ul.no-dot {
  list-style-type: none;
}

// Posts by year
// 
.by-year {
  text-align: center;
  .years {
    list-style-type: none;
    color: #333333;
    li {
      display: inline-block;
      padding: 1em;
    }
  }
}

// Tags
//
.section--posts-by-tag {
  ul.tags {
    font-size: 14px;
    line-height: 1.4;
    list-style-type: none;
    border-bottom: 1px solid lightgrey;
    padding: 4em $padding--left*2;
    li {
      padding: 0.5em;
      display: inline-block;
    }
  }  
}

.heavy a {
  color: #000000;
  font-weight: 700;

}

.medium a {
  color: #333;
}

.light a {
  color: #888;
}

.dot {
  font-size: smaller;
  color: #ccc;
}

.count {
  color: #ccc;
}