@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
* {
  box-sizing: border-box; }

body {
  -webkit-animation: fadeIn .4s ease-in;
          animation: fadeIn .4s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0; }

h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase; }
  h1 a {
    display: block;
    padding: 1.4em 36px; }
  @media all and (max-width: 400px) {
    h1 {
      text-align: center;
      width: 100%; } }

h2.tag {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 16px;
  margin: 36px 36px;
  text-transform: uppercase; }
  @media all and (max-width: 400px) {
    h2.tag {
      margin: 1em auto;
      text-align: center;
      width: 90%; } }

main {
  overflow-x: hidden; }

article {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  padding: 2em 2em 4em; }
  @media all and (max-width: 400px) {
    article {
      padding: 0 18px; } }
  article h2 {
    margin: 2em 0 1em; }
    article h2 > a {
      border-radius: 4px;
      line-height: 1.4; }
      article h2 > a:active {
        background-color: rgba(0, 0, 0, 0.05); }

.view-all {
  padding: 18px;
  text-align: center; }
  .view-all a {
    font-weight: 700; }

p {
  max-width: 90%;
  overflow: hidden; }
  @media all and (min-width: 740px) {
    p {
      width: 740px; } }

img {
  display: block;
  margin: 1em 0;
  zoom: .7; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active {
    color: rgba(0, 0, 0, 0.87); }

blockquote {
  border-left: 1px solid rgba(0, 0, 0, 0.38);
  font-size: smaller;
  margin: 1em 0;
  max-width: 800px;
  padding-left: 18px; }

code {
  color: #49d394;
  font-size: .8em; }

pre {
  background-color: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.54);
  font-size: .8em;
  overflow: auto;
  padding: 1em 18px; }

ol {
  list-style-position: inside; }

.no-dot {
  list-style-type: none; }

.by-year {
  text-align: center; }
  .by-year .years {
    color: rgba(0, 0, 0, 0.54);
    list-style-type: none; }
    .by-year .years li {
      display: inline-block;
      padding: 1em; }

.section--posts-by-tag .tags {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 14px;
  line-height: 1.4;
  list-style-type: none;
  padding: 4em 36px; }
  .section--posts-by-tag .tags li {
    display: inline-block;
    padding: .5em; }

.heavy a {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700; }

.medium a {
  color: rgba(0, 0, 0, 0.54); }

.light a {
  color: rgba(0, 0, 0, 0.38); }

.dot {
  color: rgba(0, 0, 0, 0.38);
  font-size: smaller; }

.count {
  color: rgba(0, 0, 0, 0.38); }
