/* ========= */
/* = core  = */
/* ========= */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../compass/src/typography.scss */
body {
  line-height: 1.4em;
}

/* line 5, ../../../compass/src/typography.scss */
ol, ul {
  padding-left: 30px;
}

/* line 9, ../../../compass/src/typography.scss */
ol li, ul li {
  line-height: 1.5em;
}

/* line 13, ../../../compass/src/typography.scss */
ul {
  list-style-type: circle;
}

/* line 17, ../../../compass/src/typography.scss */
ol {
  list-style-type: decimal;
}

/* line 21, ../../../compass/src/typography.scss */
pre {
  background-color: #f8f8f8;
  border-left: 3px double #bbbbbb;
  padding: 0.5em;
}

/* line 27, ../../../compass/src/typography.scss */
code, pre {
  color: #404040;
  font-size: 13px;
}

/* line 32, ../../../compass/src/typography.scss */
blockquote, div, ol, p, pre, ul {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* =========== */
/* =  links  = */
/* =========== */
/* line 41, ../../../compass/src/typography.scss */
a {
  text-decoration: none;
  margin: 2px;
}
/* line 44, ../../../compass/src/typography.scss */
a:hover {
  text-decoration: none;
}

/* ========== */
/* = pages  = */
/* ========== */
/* line 1, ../../../compass/src/tags-page.scss */
.tags-page ul {
  padding: 0;
  list-style-type: none;
}

/* line 19, ../../../compass/src/style.scss */
body {
  font-size: 16px;
  min-width: 800px;
  background: #f3f3f3;
}

/* line 25, ../../../compass/src/style.scss */
div#main {
  width: 90%;
  margin: 0 auto;
}

/* line 30, ../../../compass/src/style.scss */
#header {
  margin-bottom: 10px;
  overflow: auto;
  padding: 10px;
}
/* line 34, ../../../compass/src/style.scss */
#header .logo {
  float: left;
  font-size: 20px;
  padding: 30px 0.3em 0;
}

/* the list of articles section */
/* line 42, ../../../compass/src/style.scss */
#articles {
  overflow: hidden;
  *zoom: 1;
}
/* line 44, ../../../compass/src/style.scss */
#articles .article {
  padding: 30px;
}

/* line 49, ../../../compass/src/style.scss */
#footer {
  width: 100%;
  border-top: 1px solid #c3c3c3;
}
/* line 53, ../../../compass/src/style.scss */
#footer .link {
  display: block;
  width: 33%;
  height: 150px;
  float: left;
}
/* line 58, ../../../compass/src/style.scss */
#footer .link a {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
  padding-top: 60px;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  color: blue!important;
  font-family: "helvetica neue", sans-serif;
  letter-spacing: 1px;
}

/* line 74, ../../../compass/src/style.scss */
#nav {
  float: right;
  margin-top: 10px;
  text-align: right;
  display: none;
  /*hide the useless nav*/
}

/* line 82, ../../../compass/src/style.scss */
#header #nav ul li {
  display: inline;
}
/* line 85, ../../../compass/src/style.scss */
#header .byline {
  color: #606060;
}

/* line 91, ../../../compass/src/style.scss */
#other-articles {
  margin-top: 4em;
}
/* line 93, ../../../compass/src/style.scss */
#other-articles ul {
  padding: 0;
  list-style-type: none;
}
/* line 97, ../../../compass/src/style.scss */
#other-articles h3 {
  margin: 0 0 0.5em;
}
/* line 100, ../../../compass/src/style.scss */
#other-articles .newer {
  text-align: right;
  float: right;
}
/* line 104, ../../../compass/src/style.scss */
#other-articles .older {
  float: left;
}

/* line 109, ../../../compass/src/style.scss */
#taglist {
  font-size: 0.8em;
  margin-top: 3em;
  text-align: justify;
}
/* line 113, ../../../compass/src/style.scss */
#taglist a.tag {
  text-decoration: none;
}
/* line 115, ../../../compass/src/style.scss */
#taglist a.tag:hover {
  background: #c3c3c3;
}

/* line 121, ../../../compass/src/style.scss */
#sticky {
  border: 3px double #eeeeee;
  margin-bottom: 3.2em;
}

/* line 124, ../../../compass/src/style.scss */
#sticky .body {
  margin: auto;
  text-align: center;
}
/* line 127, ../../../compass/src/style.scss */
#sticky .body p {
  margin: 0;
  line-height: 4em;
}

/* line 133, ../../../compass/src/style.scss */
.archives .excerpt {
  width: 600px;
  float: left;
  clear: both;
  height: auto;
}

/* line 140, ../../../compass/src/style.scss */
.archives ul, .tag-page ul {
  list-style-type: none;
  padding-left: 0px;
}

/* line 145, ../../../compass/src/style.scss */
table.colophon td:first-of-type {
  width: 175px;
}

/* line 149, ../../../compass/src/style.scss */
.clear {
  clear: both;
}

/* line 153, ../../../compass/src/style.scss */
.excerpt {
  background: #fff;
  margin: 10px;
  padding: 10px;
  width: 200px;
  float: left;
  height: 300px;
  overflow: hidden;
}
/* line 162, ../../../compass/src/style.scss */
.excerpt h2 {
  margin-bottom: 0.5em;
  width: 100%;
}
/* line 167, ../../../compass/src/style.scss */
.excerpt p {
  margin-bottom: 0.5em;
}

/* line 172, ../../../compass/src/style.scss */
.meta {
  font-size: 13px;
}
/* line 174, ../../../compass/src/style.scss */
.meta ul {
  margin: 0px;
  padding-left: 0;
}

/* line 180, ../../../compass/src/style.scss */
.meta ul li {
  color: #606060;
  display: inline;
}

/* line 185, ../../../compass/src/style.scss */
.passive {
  color: #606060;
}

/* line 189, ../../../compass/src/style.scss */
a.tag {
  color: black;
  padding: 0 0.1em 0;
}

/* line 194, ../../../compass/src/style.scss */
a.tag:hover {
  color: #333333;
}

/* line 198, ../../../compass/src/style.scss */
.tags {
  text-transform: lowercase;
}
