/* line 1, ../../../compass/src/typography.scss */
body {
  line-height: 1.4em;
}

/* line 5, ../../../compass/src/typography.scss */
ol, ul {
  padding-left: 2em;
}

/* line 9, ../../../compass/src/typography.scss */
ol li, ul li {
  line-height: 1.5em;
}

/* line 13, ../../../compass/src/typography.scss */
ul {
  list-style-type: circle;
}

/* line 17, ../../../compass/src/typography.scss */
ol {
  list-style-type: decimal;
}

/* line 21, ../../../compass/src/typography.scss */
pre {
  background-color: #f8f8f8;
  border-left: 3px double #bbbbbb;
  padding: 0.5em;
}

/* line 27, ../../../compass/src/typography.scss */
code, pre {
  color: #404040;
  font-size: 1em;
}

/* line 32, ../../../compass/src/typography.scss */
blockquote, div, ol, p, pre, ul {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

/* =========== */
/* =  links  = */
/* =========== */
/* line 40, ../../../compass/src/typography.scss */
a {
  text-decoration: none;
  margin: 2px;
}
/* line 43, ../../../compass/src/typography.scss */
a:hover {
  text-decoration: none;
}
