/* line 1, ../../../compass/src/typography.scss */
body {
  font-size: 18px;
  font-family: "Kai", times, serif;
  line-height: 1.2;
}

/* line 7, ../../../compass/src/typography.scss */
h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 1em 0;
}

/* line 14, ../../../compass/src/typography.scss */
h2 {
  font-size: 1.8em;
}

/* line 18, ../../../compass/src/typography.scss */
.site-name {
  font-weight: bold;
  text-align: center;
}

/* line 23, ../../../compass/src/typography.scss */
ul {
  padding: 0;
  list-style-type: none;
}

/* line 28, ../../../compass/src/typography.scss */
h3 {
  margin: 0 0 0.5em;
}

/* line 32, ../../../compass/src/typography.scss */
ol, ul {
  padding-left: 2em;
}

/* line 36, ../../../compass/src/typography.scss */
ol li, ul li {
  line-height: 1.5em;
}

/* line 40, ../../../compass/src/typography.scss */
ul {
  list-style-type: circle;
}

/* line 44, ../../../compass/src/typography.scss */
ol {
  list-style-type: decimal;
}

/* line 48, ../../../compass/src/typography.scss */
pre {
  background-color: #f8f8f8;
  border-left: 3px double #bbbbbb;
  padding: 0.5em;
}

/* line 54, ../../../compass/src/typography.scss */
code, pre {
  color: #404040;
  font-size: 1em;
}

/* line 59, ../../../compass/src/typography.scss */
blockquote, p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 64, ../../../compass/src/typography.scss */
blockquote, div, ol, p, pre, ul {
  line-height: 1.5;
}

/* line 68, ../../../compass/src/typography.scss */
blockquote {
  font-family: monospace;
  font-size: 0.8em;
  margin-left: 2em;
}

/* line 74, ../../../compass/src/typography.scss */
a {
  text-decoration: none;
}

/* line 78, ../../../compass/src/typography.scss */
h1, h2, h3, h4, h5 {
  font-weight: 700;
  margin-top: 1em;
}

/* line 83, ../../../compass/src/typography.scss */
.article ul {
  margin-top: 1em;
  margin-bottom: 1em;
}
