---
---
<div class="excerpt">
  <h2>
    <a href="<%= route_path(item) %>" title="Full article" class="permalink">
      <%= item[:title] %>
    </a>
  </h2>
  
  <div class="body">
    <p>
      <%= item[:excerpt] || "... #{item[:file].path}" %>
    </p>
  </div>
</div>