---
---
- if item[:kind] == 'article'
  .meta
    %ul.tags
      %li= pretty_time(item[:created_at])
      / disqus embed stuff was here
      - if item[:tags]
        %li &middot;
        - item[:tags].sort.each do |tag|
          %li
            %a(href="/tags/#{tag}/" class='tag')
              = tag
