<div class="hello">
  <h2>Hello!</h2>
  <p>This is a blog by Chris Blow. I am a designer at <a href="http://meedan.com">Meedan</a>. The source code (ruby, middleman) and plaintext (markdown) for this site is <a href="https://github.com/unthinkingly/unthinkingly-blog">on github.com</a>.</p>
</div>