<aside>
  <!-- <h2>Latest posts</h2> -->
  <!-- <ol> -->
    <%# blog.articles.each do |article| %>
      <!-- <li><%#= link_to article.title, article %> <span><%#= article.date.strftime('%b %e %Y') %></span></li> -->
    <%# end %>
  <!-- </ol> -->

  <div class="by-tag">
    <h2>Tags</h2>
    <ul class="tags">
      <% blog.tags.sort.each do |tag, articles| %>
        <% if articles.size > 1 %>
          <li class="<%= tag_weight(articles.size) %>"><%= link_to "#{tag} <span class='dot'>•</span> #{articles.size}", tag_path(tag) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="by-year">
    <h2>By Year</h2>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>
  </div>
</aside>