---
pageable: false
title: "tags"
---
  <h2 class="tag"><%= "#{page_articles.size} posts about #{tagname}" %></h2>
  <% page_articles.each_with_index do |article, i| %>
    <article>
      <h2><%= link_to article.title, article %> </h2>
      <span class='timestamp'> 
        <%= article.date.strftime('%b %e %Y')%>
      </span>
      <%= article.body %>
    </article>
  <% end %>
